.container {
  height: 912px;
  width: 600px;
  padding-right: 80px;
  margin-top: 30px;
  overflow: auto;
}



.make_order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 140px;
  margin-bottom: 0px;
}
.items_fixed_top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top:60px;
}
.items_fixed_bot {
  position: sticky;
  bottom: 150px;
}

.items_dinamyc {
  max-height: 500 px;
  overflow: auto;
}
