


.item{
    display: grid;
grid-template-columns: repeat(2, 1fr) 5fr repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 0px; 
align-items: center;
}

.resize{
    width: 80px;
    height: 40px;
}