.main_container {
  display: flex;
  justify-content: space-evenly;
}
.burger_constructor {
  height: 812px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.burger_ingredients {
  margin-bottom: 0px;
}
.Loader{
  font-size: 2rem;
  margin-left: 50%;
  margin-top: 30%;
}