.burgerIngredients {
  height: 812px;
  width: 600px;
  margin-left: 30px;
}
.ingredientGroup {
  max-height: 590px;
  overflow: auto;
}

.burger_ingredients_tabs {
  display: flex;
}

.ingredients_list {
  list-style: none;
}
