.appHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88px;
  background-color: rgba(47, 47, 55, 0.2);
}
.burger_icon {
  display: flex;
  margin-left: 120px;
}

.list_icon {
  display: flex;
}
.profile_icon {
  display: flex;
  justify-content: space-around;
  margin-right: 120px;
}
.burger_logo {
  margin-right: 100px;
}
